@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('fonts/iconfont.ttf?t=1752570249330') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-center:before {
  content: "\ec80";
}

.icon-bold:before {
  content: "\ec83";
}

.icon-underline:before {
  content: "\ec85";
}

.icon-italic:before {
  content: "\ec86";
}

.icon-align-left:before {
  content: "\ec87";
}

.icon-split:before {
  content: "\e617";
}

.icon-border-none:before {
  content: "\eb00";
}

.icon-border-all:before {
  content: "\e6fc";
}

.icon-merge:before {
  content: "\e709";
}

.icon-border-style:before {
  content: "\e621";
}

.icon-img:before {
  content: "\e622";
}

.icon-align-right:before {
  content: "\e600";
}

.icon-fn:before {
  content: "\e615";
}

.icon-color:before {
  content: "\e854";
}

.icon-diagonal:before {
  content: "\e64d";
}

.icon-freeze:before {
  content: "\e8a7";
}

.icon-background-color:before {
  content: "\e7b9";
}