@import "./var.less";

@excel-wrapper: ~"@{prefix}-wrapper";

.@{excel-wrapper} {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > .@{prefix}-sheet-render {
    flex: 1;

    canvas {
      overflow: hidden;
    }
  }
}
